text-input {
    display: block;
    margin: 1.4rem 0;

    & .input {
        /* margin: 1.4rem 0; */
        position: relative;

        & label {
            color: var(--gray-text, #999999);
            margin-top: 0;
            font-size: 1.2rem;
            position: absolute;
            pointer-events: none;
            transition: 0.2s ease all;
            left: 0.8rem;
            font-size: 1.2rem;
        }

        & input {
            border: 2px solid black;
            border-radius: var(--radius, 4px);
            padding-bottom: .4rem;
            padding-top: .5rem;
            font-size: 1.2rem;
            padding: 10px 10px 10px 5px;
            display: block;

            &:focus {
                &~label {
                    color: black;
                    left: 0.5rem;
                }
    
                border-bottom: 2px solid black;
            }

            &:not(:placeholder-shown)~label {
                color: black;
                left: 0.5rem;
            }

            /* this is a hack to fix the input width
            don't know why we need this */
            width: calc(100% - 1rem);

            &:focus {
                outline: none;
            }

            &:focus{
                &~label {
                    color: black;
                    left: 0.5rem;
                }
    
                border-bottom: 2px solid black;
            }

            /* When input is...
                1. NOT empty
                2. NOT in focus
                3. NOT valid
            */
            &:invalid:not(:focus):not(:placeholder-shown) {
                border-bottom: 4px solid var(--text-input-error-border, red);

                & ~ .requirements {
                    max-height: 200px;
                    padding: 0 30px 20px 50px;
                }
            }
        }

        .requirements {
            padding: 0 30px 0 50px;
            max-height: 0;
            transition: 0.28s;
            overflow: hidden;
            color: var(--text-input-error-text);
            font-style: italic;
        }

        & label {
            color: #5f5f5f;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 8px;
            top: 14px;
            transition: 0.2s ease all;
        }
        
        /* this part makes the `label` float */
        /* input:valid ~ label, */
        & input:focus ~ label,
        /* float when it's not empty */
        & input:not(:placeholder-shown) ~ label {
            top: -18px;
            font-size: 14px;
            color: black;
        }
    }
}
